<% content_for :title do %>About<% end %>
<h3>About Paul Pham</h3>
<p> Hello! You have stumbled upon my first Ruby on Rails project. </p>
<br>
<p> What is it? It's a newsletter sign up app! </p>
<p> If you type in your email address there on the homepage, it sends it to MailChimp.
  The email is stored for later and then I can email you at anytime.
  Just kidding, I won't. Any questions or comments you may leave me
  on the contact form will go to SendGrid and I will also receive an email.
  If you don't want me to store your emails anywhere, then definitely let me know.
  Or don't enter your email or information in any field in the first place.
</p>
<p> The app is currently hosted live in production on Heroku. Page views and clicks
  are also being tracked through Google Analytics. What else have I been working on?
  See my Github: https://github.com/PaulVPham </p>
<p> Why go through the trouble? It's fun to learn new things. </p>
