<% content_for :title do %>About<% end %>
<h3>About Paul Pham</h3>
<p>You don't need to know anything about me.</p>
<p>My favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua.</p>
